#form {
    padding: 3rem;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-light);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;

    & .form-title {
        font-size: 1.8rem;
        font-family: "Merriweather Sans", sans-serif;
        font-weight: bold;
        color: var(--text);
        padding: 1rem 0 1.5rem 0;
    }

    & .btn-container {
        display: flex;
        justify-content: center;
    }
}