.headmasterCard {
    width: 100%;
    display: flex;
    background-color: var(--primary-light);
    border: 2px solid var(--primary);

    & .content {
        display: flex;
        justify-content: space-between;
        flex: 2;
    }

    & .content p {
        font-size: 2rem;
        font-family: "Merriweather Sans", sans-serif;
        font-weight: bold;
        padding: 1.5rem;
    }

    & .filledButton {
        align-self: flex-end;
        margin: 1rem;
    }
}