input, textarea {
    background: transparent;
    font-size: 1.2rem;
    width: 30rem;
    font-family: "Merriweather Sans", sans-serif;
    border: 2px solid var(--text);
    padding: 0.3rem;
    margin-bottom: 1rem;
}

label {
    display: flex;
    flex-direction: column-reverse;
}

label > span {
    font-size: 1.3rem;
    font-family: "Merriweather Sans", sans-serif;
    color: var(--text);
    padding: 0.5rem 0;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}