.question {
    background-color: var(--primary-light);
    width: 100%;
    padding: 2rem;
    border: 0.2rem solid var(--primary);
    border-radius: 0.5rem;
    font-family: 'Merriweather Sans';
    display: flex;
    flex-direction: column;

    & .question-header {
        display: flex;
        justify-content: space-between;
    }

    & .question-header-user {
        display: flex;
        padding: 0 1rem;
    }

    & .question-header-user i {
        font-size: 2rem;
        color: var(--text);
    }

    & .question-header-user p {
        font-size: 1.7rem;
        font-weight: 700;
        padding: 0 1rem;
    }

    & .question-header span {
        font-size: .9rem;
    }
    
    & .question-header > p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    & .question-content {
        font-size: 1.5rem;
        padding: 3rem 0 0 1rem;
        font-weight: 400;
    }

    & .btn-container {
        display: flex;
        justify-content: flex-end;
    }
  }