#side-nav {
    background-color: var(--primary-light);
    height: calc(100vh - 5rem);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;

    & > ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    & > ul > li {
        font-size: 1.5rem;
        padding: 1rem 5rem 1rem 1.5rem;
        width: 100%;
        color: var(--text);
        font-weight: bold;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 2rem;
        transition: border-color ease;
    }

    & > ul > li:hover {
        border-color: var(--text-light);
    }

    & .selected {
        background-color: var(--primary);
    }
}