.studentCard {
    width: 100%;
    background-color: var(--primary-light);
    border-bottom: 2px solid var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .student-email {
        font-size: 1.5rem;
        font-family: "Merriweather Sans", sans-serif;
        padding: 1.5rem;
    }

    & .filledButton {
        margin: 0 1.5rem;
    }
}